html, body {
    width: auto !important;
    overflow-x: hidden !important;
}
body {
    background-color: #272727;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}
a {
    color: #26abff !important;
    transition: 0.4s;
}
a:hover {
    color: #59bfff !important;
    text-decoration: none;
}
h2 {
    font-size: 16px;
    letter-spacing: 0.1em;
}
button {
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.3s;
    letter-spacing: 0.05em;
    background-color: #59bfff;
    border-color: #59bfff;
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: #59bfff;
    cursor: pointer;
}


.hide {
    display: none !important;
}
.centre {
    text-align: center;
}
.parent-wrap {
    overflow: hidden;
    position: relative;
}
.background-image {
    background-image: url("../imgs/background.jpeg");
    background-repeat: repeat;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content {
    position: relative;
}
.back {
    position: relative;
    display: block;
    left: 10%;
    margin-top: 2em;
}

.title-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.title-with-icon h2 {
    display: inline-block;
}
.title-with-icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.75em; 
}

.postbox {
    background-color: #272727;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.clickable .postbox {
    cursor: pointer;
}
.shot {
    border-color: #FF652F;
}
.shot .postbox__header {
    background-color: #FF652F;
}
.shot .postbox__comment-section hr {
    background-color: #FF652F;
}
.clickable .shot:hover .postbox__header {
    background-color: #e63d00;
}
.clickable .shot:hover {
    border-color: #e63d00;
}

.meet {
    border-color: #14A767;
}
.meet .postbox__header {
    background-color: #14A767;
}
.meet .postbox__comment-section hr {
    background-color: #14A767;
}
.clickable .meet:hover .postbox__header {
    background-color: #108955;
}
.clickable .meet:hover {
    border-color: #108955;
}

.chat {
    border-color: #663a82;
}
.chat .postbox__header {
    background-color: #663a82;
}
.chat .postbox__comment-section hr {
    background-color: #663a82;
}
.clickable .chat:hover .postbox__header {
    background-color: #532f6a;
}
.clickable .chat:hover {
    border-color: #532f6a;
}

.postbox__header__wrapper {
    display: block;
}
.postbox__header {
    padding: 0.2em;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}
.postbox__header img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 3px solid #fff;
}
.postbox__header a {
    color: #fff !important;
    cursor: pointer;
}
.postbox__header a:hover {
    color: #26abff !important;
}
.edit-buttons a {
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.postbox__content {
    padding: 1em;
}
.postbox__content img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
}

.postbox__comment-section {
    padding: 0.3em;
}
.postbox__comment {
    padding: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 1px solid #666;
    border-radius: 5px;
    margin-bottom: 1em;
}
.postbox__comment p {
    margin-bottom: 0;
}
.postbox__comment .profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #272727;
}
.comment-change a {
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.comment-creation {
    padding: 0.5em;
    position: relative;
}
.comment-creation input {
    width: 100%;
}
.comment-creation button {
    border-radius: 100%;
    padding: 0;
}
.comment-creation button:hover {
    border-radius: 100%;
    padding: 0;
    background-color: #59bfff;
    color: #fff;
}
.comment-creation button img {
    padding: 1px;
}

.modal {
    color: #272727;
}
.modal-body textarea {
    width: 100%;
}

/** Home **/
#posts-filter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/** NAVBAR **/
.nav-link {
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
}


/** POST **/
#post-form, #user-form, #posts-filter {
    margin-top: 2em;
    margin-top: 2em;
}
.content-div {
    margin-bottom: 1em;
}
.content-div textarea {
    width: 100%;
    height: 100px;
}
.content-div select {
    padding: 0.3em;
}
.button--submit {
    display: inline-block;
}

@media (max-width: 768px) {
    .back {
        left: 0%;
    }
    .postbox {
        width: 100%;
    }

    .navbar-collapse .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}