.userbox {
    background-color: #272727;
    border: 2px solid;
    border-color: #fff;
    border-radius: 8px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}
.userbox h2 {
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.userbox img {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-color: #fff;
    border-radius: 100%;
    margin-top: 1em;
}

@media (max-width: 768px) {
    .userbox h2 {
        font-size: 18px;
    }
    .userbox img {
        width: 100px;
    }
}
@media (max-width: 576px) {
    .userbox img {
        width: 100%;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}